body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.img-responsive {
    display: block;
    max-width: 70%;
}
.thumbnail > img {
    display: block;
    height: 220px !important;
    max-width: 100%;
}
.jumbotron {
    text-align: center;
    background-color:white!important;
}
.btn-lg {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px!important;
}
.navbar-inverse .navbar-brand {
    color: #eee!important;
}
.navbar-inverse .navbar-nav > li > a {
    color: #eee !important;
}
.img-responsive {
    display: block;
    max-width: 90% !important;
}